body {
    background-color: black;
}

.todo-Container {
    background-color: white;
    width: 300px;
    padding: 10px;
}

.todoitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todobutton {
    width: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}